* {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: darkcyan;
}

h1,
h2 {
    color: black;
}

ul li {
    color: orange;
}

.home-title {
    text-align: center;
}

.home-list {
    margin: 0 auto;
    width: 8em;
}

.home-list li {
    margin-bottom: 8px;
}

